@model dynamic
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link rel="shortcut icon" href="/favicon.ico">
        @RenderSection("Metatags", false)
    </head>
        <body>
        @RenderBody()
    </body>
</html>
