@model dynamic
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link rel="shortcut icon" href="/favicon.ico">
        
        @RenderSection("Metatags", false)
        <link rel="stylesheet" type="text/css" href="~/Content/common.css"/>
        <script type="text/javascript" src="~/Scripts/jquery-2.1.0.js"></script>
    </head>
        <body>
        @RenderBody()
    </body>
</html>
